body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    direction: rtl; /* راست‌چین کردن کل سایت */
    text-align: right; /* متن‌ها از راست شروع شوند */
}

header {
    background-color: #222;
    color: white;
    padding: 40px 0;
    text-align: center; /* عنوان هدر در وسط */
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
}

.intro-section, .about-section, .contact-section {
    padding: 50px 10%;
}

h1, h2, h3 {
    text-align: right;
}

.properties {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.property {
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.property img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.property h3 {
    font-size: 1.6em;
    margin: 20px;
}

.property p {
    margin: 10px 20px;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.contact-section input, .contact-section textarea {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    text-align: right;
}

button {
    background-color: #222;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}